{% extends 'base.html' %}

{% block jscript %}

function loadimag(){
	alert("显示图片");

	$(document).ready(function(){
	 $("#load_img").attr({src:"/img/liu.jpg"});
	}
	)

}

function process_pic(){
    alert("处理图片");
    $.get('/process_pic/' ,{}, success, 'html');
}

function success(data){
if (data == 'load'){
    $(document).ready(function(){
        $("#process_img").attr({src:"/img/new_liu.jpg"})
        })
}
else{
alert("处理失败");
}
}

function gray_process(){
	alert("灰度处理");
	$.get('/gray_process/',{},gray_success,"html");
	
	}

function gray_success(data){
if(data=="gray_picture"){
	$(document).ready(function(){
	$("#process_img").attr({src:"/img/gray_picture.jpg"})
	}
	)
	}
else if(data =="not_gray_picture"){
	alert("灰度处理失败");
	}
}


{% endblock %}

{% block content_first %}
<div style="padding-left:60px;">
	<h3>this is for upload picture , just for jpg format</h3>
	<p></p>
	<form action="/upload/" method="post" enctype="multipart/form-data" >
		<fieldset>
			<legend>please upload</legend>
			<input type ="file" name="docfile"/>
			<input type="submit" value="upload"/>
            <input type="button" value="show" onclick = "loadimag()" style="padding-left:15px;"/>
            <input type="button" value="process" onclick="process_pic()"
	    style="margin-left:140px;" />
	    <input type="button" value="gray" onclick="gray_process()" style="margin-left:30px;"/>
		</fieldset>	
	</form>
    <img id="load_img"  src="/img/placeholder.gif" alt="LoadImage" style="float:left;" ></img>
    <img id="process_img" src="/img/placeholder.gif" alt="LoadImage" style="margin-left:120px; float:left;"></img>
</div>
{% endblock %}
