{% extends 'base.html' %}
{% block jscript %}
function pre_page(page)
{
   var new_page;
    if(page == 1)
    { 
    new_page = page;
    }
    else
    {
    new_page = page -1;
    }
   window.location='/message_book/'+new_page+'/'; 
}

function next_page(page , last_page)
{
    var new_page;
    if(page >= last_page)
    {
    new_page = last_page
    }
    else
    {
    new_page = page+1;
    }
    window.location = '/message_book/'+new_page+'/';
}
{% endblock %}
{% block content_first %}
<div class = "mes_book" style = "height:450px;padding-left:20px;">
    <p>留言板</p>
    {% if mes_tx %}
    {% for mes in mes_tx %}
    <p><font size = '2'>内容:{{mes.mestext}}</font></p>
    <p><font size ='0.5'>时间：{{mes.mestime}}</font></p>
    <hr></hr>
    {% endfor %}
    {% endif %}
    <div>
        {% ifequal last_page 1 %}
        <a href="/message_book/1/">1</a>
        {% else %}
        <a href="/message_book/1/">1</a>
        <a href='javascript:pre_page({{page}})'>上一页</a>
        <a href='javascript:next_page({{page}} , {{last_page}})'>下一页</a>
        <a href="/message_book/{{last_page}}/">{{last_page}}</a>
        {% endifequal %}
    </div>
</div>
    <div class = "mes_form" ">
    <form action= "/message_book/1/" method="post" style="padding-left:20px;padding-bottom:20px"; >
        <textarea  rows= 5 cols =2 name="mes_book_text" value=''></textarea>
        <input name="submit_bt" type="submit" class="message_submit_bt"
        value="提交" style = "margin-bottom:-160px ; margin-left:-160px;">
    </form>
    </div>
{% endblock %}

