{% extends 'base.html' %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title %}
    First Page
    {% endblock %}

    <!-- Le styles -->
 
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  {% block content %}
  {% endblock %}
  {% block content_first %}
  <div style="padding-left:60px;">
    <h3>Bootstrap starter template</h3>
  </div>
  {% endblock %}
</html>
